
<h2>title</h2>

<form action="@Url.Action("InputProductImagePack")" method="post" enctype="multipart/form-data">
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" />
</form>